body, html{
    padding:0;
    margin:0;
    position:relative;
    height:100%;
	
}
.header{
    width:100%;
	height:100px;
    background:#DAF7A6;
}
.footer{
    width:100%;
	height:74px;
    background:#DAF7A6;
}
.content{
    width:100%;
    height:calc(100% - 175px);
}
.left{
    width:180px;
    background:#AED6F1;
    height:100%;
	border: 1px solid red;
}
.right{
    width:calc(100% - 190px);
	position:absolute;
	top: 100px;
	right:0px;
    margin-left: 185px;
    background:#aaa;
    height:calc(100% - 175px);
	border: 1px solid green;
}