html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 500px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 74px;
	position: relative;
	height: calc(100% - 150px);
}
.middle:after {
	display: table;
	clear: both;
	content: '';
	height: 100%
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	height: 100%;
}
.content {
	padding: 0 0 0 200px;
	height: 100%
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 180px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -74px auto 0;
	min-width: 500px;
	height: 74px;
	background: #BFF08E;
	position: relative;
}